


<container class="accesories-contain">
  <h1 class="text-center" id="compliment"> 
  {{totalEnvy.Accesories.header}}
  </h1>
  
  <row class="accesories">

      <row class="accesories-title">
          <columns class="jimmy-title" >
            <a href="{{totalEnvy.Accesories.link-1}}">
              <img class="jimmy-choo-img" src="https://i.imgur.com/KUNXcmf.png" alt="jimmy-choo-img" width="152px" height="222px">
            </a>
            
            <h1 class="jimmy"> {{totalEnvy.Accesories.title-1}}<br>
              <spam class="ade">{{totalEnvy.Accesories.description-1}}</spam>
            </h1>
          </columns>

          <columns class="gucci-title">
            <a href="{{totalEnvy.Accesories.link-2}}">
              <img class="hair-tie-img" src="https://i.imgur.com/4Bb3Kcq.png" alt="hair-tie-img" width="145px" height="222px">
            </a>

            <h1 class="gucci">{{totalEnvy.Accesories.title-2}}<br>
              <spam class="henley">{{totalEnvy.Accesories.description-2}}.</spam>
            </h1>
          </columns>

          <columns class="versace-title">
            <a href="{{totalEnvy.Accesories.link-3}}">
             <img  src="https://i.imgur.com/9GPqrFN.png" 
             class="clutch-img"
             alt="clutch-img">
            </a>

            <h1 class="versace">{{totalEnvy.Accesories.title-3}}<br>    
              <spam class="agnes">{{totalEnvy.Accesories.description-3}}.</spam>
            </h1>
          </columns>

          <columns class="valentino-title">
            <a href="{{totalEnvy.Accesories.link-4}}">
              <img src="https://i.imgur.com/Rrr9AMK.png" 
              class="necklace-img"
              alt="necklace-img" >
            </a>

            <h1 class="valentino">{{totalEnvy.Accesories.title-4}}<br>
              <spam class="pearl">{{totalEnvy.Accesories.description-4}}.
              </spam>
            </h1>
          </columns>
      </row>

      <row class="socialMedia-info">
        <columns small="6" large="6" valign="left">
          <a href="{{totalEnvy.socialGiftCard.link}}">
            <img
              src="https://i.imgur.com/wj6XvZC.png"
              class="facebook" alt="facebook-icon"  
            />
          </a>
        </columns>

        <columns small="6" large="6" valign="left">
          <a href="{{totalEnvy.socialGiftCard.link}}">
            <img
              src="https://i.imgur.com/N0aXWtv.png"
              class="instagram" alt="instagram-icon" 
            />
          </a>
        </columns>

        <columns  valign="right">
          <a href="{{totalEnvy.socialGiftCard.link}}">
            <h1 class="shop">{{totalEnvy.socialGiftCard.title}}</h1>
          </a>
        </columns>
      </row>

      <row class="links">
        <columns >
          <a href="{{totalEnvy.LinksPrivacy.customer-link}}" class="text-center" >
            <h1 class="customer">{{totalEnvy.LinksPrivacy.customer}}</h1>
          </a>
          
        </columns>

        <columns>
          <a href="{{totalEnvy.LinksPrivacy.privacy-link}}" class="text-center" >
            <h1 class="privacy" >{{totalEnvy.LinksPrivacy.privacy}}</h1>
          </a>
        </columns>

        <columns>
          <a href="{{totalEnvy.LinksPrivacy.rewards-link}}" class="text-center" >
            <h1 class="rewards"> {{totalEnvy.LinksPrivacy.rewards}}</h1>
          </a>
        </columns>

        <row class="policy-info-text">
          <p class="policy-text">
            {{totalEnvy.LinksPrivacy.description}}.
          </p>
        </row>
  
      </row>

  </row>
</container>

