

<container class="party-dress-contain">

  <row class="party-row1">
        <img src="https://github.com/RBRuthie/Apparel_totalenvy_promotional_HTML_Email_Resposive/blob/master/src/assets/img/total-envy/party-dress-1.png?raw=true"
          class="party-dress-img"
          alt="3-party-dress"
          width="600" height="500"
        />
      <columns class="party-dress-text" >
        <h1 class="text-right">
          {{totalEnvy.BlackPartyDress.title}}:
        </h1>
        <h6 class="text-center">
          {{totalEnvy.BlackPartyDress.description}}
        </h6>
      </columns>

  </row>

  <row class="party-row2">
    <a href="{{totalEnvy.BlackPartyDress.link}}:"><span class="party-btn">Shop Now</span></a>
   </row>

   
</container>
