

<container class="party-dress-contain">

  <row class="party-row1">
        <img src="https://i.imgur.com/k5CPPt0.png"
          class="party-dress-img"
          alt="3-party-dress"
        />
      <columns class="party-dress-text" >
        <h1 class="text-right">
          {{totalEnvy.BlackPartyDress.title}}:
        </h1>
        <h6 class="text-center">
          {{totalEnvy.BlackPartyDress.description}}
        </h6>
      </columns>

  </row>

  <row class="party-row2">
    <a href="{{totalEnvy.BlackPartyDress.link}}:"><span class="party-btn">Shop Now</span></a>
   </row>

   
</container>
