

<container class="classy-dress-contain">
  <row>
      <h1 class="text-center"> {{totalEnvy.BlackClassyDress.title}}</h1>

      <column class="classy-dress-text" >
        <h6 class="text-left"> 
          {{totalEnvy.BlackClassyDress.description}}
        </h6>
      </column>
      
      <img src="https://github.com/RBRuthie/Apparel_totalenvy_promotional_HTML_Email_Resposive/blob/master/src/assets/img/total-envy/classy-dress-1.png?raw=true"
        class="classy-dress-img"
        alt="3-party-dress"
        width="600" height="500"
      />
      <a href="{{totalEnvy.BlackClassyDress.link}}"><span class="classy-btn">Shop Now</span></a>
  </row>
</container>