

<container class="office-dress-contain">
  <row>

      <h1 class="text-center"> {{totalEnvy.BlackOfficeDress.title}}:</h1>
     
      <column class="office-dress-text" >
        <h6 class="text-right"> 
          {{totalEnvy.BlackOfficeDress.description}}
        </h6>
      </column>
      
      <img src="https://github.com/RBRuthie/Apparel_totalenvy_promotional_HTML_Email_Resposive/blob/master/src/assets/img/total-envy/office-attire-1.png?raw=true"
        class="office-dress-img"
        alt="3-office-dress"
        width="600" height="500"
      />
      <span class="office-btn">Shop Now</span>
  </row>
</container> 