



<container>
  <row class="header-main-rows">
  <columns>
  
  
        <row class="header-1">
          <columns>
              TOTAL ENVY
          </columns>
        </row>
  
        <row class="header-2">
          <columns class="header-cont" small="12" large="2.4">
            <a href="#" class="new-arr">NEW ARRIVALS</a>
          </columns>
          <columns class="header-cont" small="12" large="2.4">
            <a href="#" class="brand">BRANDS</a> 
          </columns>
          <columns class="header-cont" small="12" large="2.4">
            <a href="#" class="clothe">CLOTHING</a>  
          </columns>
          <columns class="header-cont" small="12" large="2.4">
            <a href="#" class="bags">BAGS</a>  
          </columns>
          <columns class="header-cont" small="12" large="2.4">
            <a href="#" class="shoes">SHOES</a>
          </columns>
        </row>
  
        <row class="header-3">
          <columns>
          </columns>
        </row>
  
        <row class="header-4">
          <columns>
            <h5>FREE Shipping Over $75* & Financing Availiable</h5>
          </columns>
        </row>
  </columns>
  </row>
  </container> 